{% include 'head.html' %}
<body>
   {% include 'header.html' %}
    <div class="breadcrumb">
        <div class="container">
            <a class="breadcrumb-item" href="{{ url_for('index') }}">Home</a>
            <span class="breadcrumb-item active">Terms and Condition</span>
        </div>
    </div>
    <section class="product-sec">
        <div class="container">
            <h1>{{ product.name }}</h1>
            <div class="row">
                <div class="col-md-6 slider-sec">
                    <!-- main slider carousel -->
                    <div id="myCarousel" class="carousel slide">
                        <!-- main slider carousel items -->
                        <div class="carousel-inner">
                            <div class="active item carousel-item" data-slide-number="0">
                                <img width="700" src="{{ url_for('static', filename=product.image) }}" class="img-fluid">
                            </div>
                            <div class="item carousel-item" data-slide-number="1">
                                <img src="images/product2.jpg" class="img-fluid">
                            </div>
                            <div class="item carousel-item" data-slide-number="2">
                                <img src="images/product3.jpg" class="img-fluid">
                            </div>
                        </div>
                        <!-- main slider carousel nav controls -->
                    </div>
                    <!--/main slider carousel-->
                </div>
                <div class="col-md-6 slider-content">
                    <p>{{ product.descrip}}</p>
                    <ul>
                        <li>
                            <span class="name">Price</span><span class="clm">:</span>
                            <span class="price final">{{ "{:,.1f}".format(product.gia) }}</span>
                        </li>
                    </ul>
                    <div class="btn-sec">
                        <button class="btn ">Add To cart</button>
                        <button class="btn black">Buy Now</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include 'footer.html' %}
<!--    <script src="js/jquery.min.js"></script>-->
<!--    <script src="js/bootstrap.min.js"></script>-->
<!--    <script type="text/javascript" src="js/owl.carousel.min.js"></script>-->
<!--    <script src="js/custom.js"></script>-->
</body>

</html>